DOCKERHUB_USERNAME=your_dockerhub_username

GATEWAY_PUBLIC_PORT=8000
REQUEST_TIMEOUT=300

INGESTION_URL=http://ingestion:8001
OCR_URL=http://ocr:8002
DETECTION_URL=http://detection:8003
SCORING_URL=http://scoring:8004
EXPLAINABILITY_URL=http://explainability:8005

STORAGE_PATH=/app/STORAGE
TESSERACT_CONFIG=--oem 3 --psm 6
MIN_CONFIDENCE=70

ENVIRONMENT=production
DEBUG=false
