fastapi
uvicorn[standard]

pydantic
pydantic-settings

numpy
scipy
pandas

opencv-python
pillow
scikit-image

matplotlib

torch
torchvision

captum
shap

reportlab

python-multipart

aiofiles

python-dotenv

loguru
